# Compiled binaries
pe2elf
test_find
winapi_shim.so

# Build artifacts and backups
*.bak
*.elf
*.pmm
*.pmx
*.ppm
winapi_shim_dbg.so
dummy.so
backup
1.exe
2.exe
archive
archive.nz
archive.rar
archive[0-9]*
*.rar
